<!--<section class="book" *ngFor="let book of books">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img [src]=book.img>
                </mat-panel-title>
                <mat-panel-description class="title">
                    {{book.titre}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Auteur : {{book.nomAuteur}} {{book.prenomAuteur}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</section>-->

<section class="book" >
    <mat-grid-list cols="4" rowHeight="4:2" *ngFor="let book of books">
        <mat-grid-tile routerLink="#">{{book.titre}}</mat-grid-tile>
    </mat-grid-list>
</section>